body,
#root,
.App {
  height: 100%;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  padding: 0 20px;
}

header,
footer {
  flex-shrink: 0;
}

body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 20px;
}

.cardContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card {
  margin: 10px;
  text-align: center;
  max-width: 300px;
}

.oneBook {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

div.oneBook img {
  height: 406px;
  width: 270px;
  margin: 0 10px;
}

.bookInfo {
  max-width: 570px;
  padding: 0 10px;
}
form{
  display: flex;
  flex-direction: column;
}
label{
  margin: 10px 0;
}